<% if (title) { %>
  <h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form class="auth-form compact" action="/inv/add-vehicle" method="post">
  <label for="classification_id">Classification</label>
  <%- classificationList %>

  <label for="inv_make">Make</label>
  <input
    id="inv_make"
    name="inv_make"
    type="text"
    required
    minlength="2"
    maxlength="50"
    value="<%= inv_make %>"
  />

  <label for="inv_model">Model</label>
  <input
    id="inv_model"
    name="inv_model"
    type="text"
    required
    minlength="1"
    maxlength="50"
    value="<%= inv_model %>"
  />

  <label for="inv_year">Year</label>
  <input
    id="inv_year"
    name="inv_year"
    type="number"
    required
    min="1886"
    max="9999"
    step="1"
    value="<%= inv_year %>"
  />

  <label for="inv_description">Description</label>
  <textarea
    id="inv_description"
    name="inv_description"
    required
    minlength="10"
    maxlength="1000"
  ><%= inv_description %></textarea>

  <label for="inv_image">Image Path</label>
  <input
    id="inv_image"
    name="inv_image"
    type="text"
    required
    value="<%= inv_image %>"
  />

  <label for="inv_thumbnail">Thumbnail Path</label>
  <input
    id="inv_thumbnail"
    name="inv_thumbnail"
    type="text"
    required
    value="<%= inv_thumbnail %>"
  />

  <label for="inv_price">Price</label>
  <input
    id="inv_price"
    name="inv_price"
    type="number"
    required
    min="0"
    step="1"
    value="<%= inv_price %>"
  />

  <label for="inv_miles">Miles</label>
  <input
    id="inv_miles"
    name="inv_miles"
    type="number"
    required
    min="0"
    step="1"
    value="<%= inv_miles %>"
  />

  <label for="inv_color">Color</label>
  <input
    id="inv_color"
    name="inv_color"
    type="text"
    required
    minlength="3"
    maxlength="30"
    value="<%= inv_color %>"
  />

  <button type="submit">Add Vehicle</button>
</form>
